// ---    CARD    ---

.card {
	background-color: white;
	border-radius: 19px;
	width: 90%;
	margin: auto;
	padding: 0 10px;
	.card-header {
		padding: 20px 15px 20px 30px;
		border-bottom: 2px solid #f1f1f1;
		background-color: white;
	}
	.card-body {
		position: relative;

		&.card-loader {
			pointer-events: none;
		}

		.card-loader-container {
			position: absolute;
			background-color: rgba(5, 5, 5, 0.377);
			height: 100%;
			width: calc(100% + 20px);
			margin-left: -10px;
			display: block;
			pointer-events: none;
			z-index: 10;
			cursor: grab;
			border-bottom-right-radius: 19px;
			border-bottom-left-radius: 19px;
			opacity: 1;
			animation: fadeIn 1s ease-in;

			.card-loader-inner {
				position: relative;
				height: 100%;
				width: 100%;
				display: block;
			}
		}
	}

	.card-border {
		border-bottom: 2px solid #f1f1f1;
	}

	&.mar-top {
		margin-top: 50px;
	}
	&.mar-bottom {
		margin-bottom: 40px;
	}
}

// ===    CARD END   ===

// ---    LOGIN RESET    ---

.reset-container {
	width: 70%;
	// min-height: 90vh;
	margin: auto;
	margin-top: 100px;
	max-width: 550px;
}

@media only screen and (max-width: 550px) {
	.reset-container {
		width: 97%;
	}
}

// ===    LOGIN RESET END    ===

// ---    LOADER    ---

.loader {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	.loader-item {
		width: 16px;
		height: 16px;
		margin: 4px;
		background: #6e6f81;
		border-radius: 50%;
		list-style: none;
		animation: animation-loading 1.2s infinite;

		&:nth-child(1) {
			animation-delay: -0.3s;
		}
		&:nth-child(2) {
			animation-delay: -0.15s;
		}
	}
}

// ===    LOADER END   ===
