.card {
	margin-top: 50px;
}

.card_bottom {
	margin-top: 50px;
	margin-bottom: 50px;
}

.service {
	margin: 20px;

	.client_view_container {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		padding: 10px;

		@media only screen and (max-width: 500px) {
			padding: 0px;
		}

		.client_view_images {
			flex: 1;
			height: fit-content;
		}

		.service_details {
			flex: 1;
		}

		@media only screen and (max-width: 700px) {
			flex-direction: column-reverse;
			align-items: center;

			.client_view_images {
				width: 90%;
			}
		}

		@media only screen and (max-width: 500px) {
			.client_view_images {
				width: 100%;
			}
		}
	}

	.buttons {
		display: flex;
		margin: 20px;
		justify-content: flex-end;
		gap: 20px;
	}

	.carousel_item {
		overflow: hidden;
		width: 100%;
		max-height: 300px;

		@media only screen and (max-width: 500px) {
			max-height: 170px;
		}

		@media only screen and (max-width: 600px) {
			max-height: 200px;
		}

		@media only screen and (max-width: 700px) {
			max-height: 250px;
		}

		@media only screen and (max-width: 800px) {
			max-height: 150px;
		}

		@media only screen and (max-width: 900px) {
			max-height: 170px;
		}

		@media only screen and (max-width: 1000px) {
			max-height: 220px;
		}

		@media only screen and (max-width: 1100px) {
			max-height: 180px;
		}
	}
}
