.services-view-card {
	// display: flex;
	max-width: 1300px;
	margin-top: 50px;
	margin-bottom: 50px;

	.services-view-body {
		margin-top: 20px;
		padding: 10px;

		@media only screen and (max-width: 500px) {
			padding: 0px;
		}
	}
}

.add-service-card {
	margin-top: 50px;
}

.images_card {
	margin-top: 50px;
	margin-bottom: 50px;
}

.add-service-input {
	width: 300px;
	min-width: 200px;

	@media only screen and (max-width: 650px) {
		width: 100% !important;
	}
}

.service {
	margin: 20px;

	.provider-view-container {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		padding: 10px;

		@media only screen and (max-width: 500px) {
			padding: 0px;
		}

		.provider-view-images {
			flex: 1;
			height: fit-content;
		}

		.service-details {
			flex: 1;
		}

		@media only screen and (max-width: 700px) {
			flex-direction: column-reverse;
			align-items: center;

			.provider-view-images {
				width: 90%;
			}
		}

		@media only screen and (max-width: 500px) {
			.provider-view-images {
				width: 100%;
			}
		}
	}

	.buttons {
		display: flex;
		margin: 20px;
		justify-content: flex-end;
		gap: 20px;
		flex-wrap: wrap;
		@media screen and (max-width: 500px) {
			flex-direction: column;
			align-items: center;
			padding-bottom: 30px;
		}
	}

	.carousel-item {
		overflow: hidden;
		width: 100%;
		max-height: 300px;

		@media only screen and (max-width: 500px) {
			max-height: 170px;
		}

		@media only screen and (max-width: 600px) {
			max-height: 200px;
		}

		@media only screen and (max-width: 700px) {
			max-height: 250px;
		}

		@media only screen and (max-width: 800px) {
			max-height: 150px;
		}

		@media only screen and (max-width: 900px) {
			max-height: 170px;
		}

		@media only screen and (max-width: 1000px) {
			max-height: 220px;
		}

		@media only screen and (max-width: 1100px) {
			max-height: 180px;
		}
	}
}

.edit-img-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	justify-content: flex-start;
	padding: 20px;

	.edit-img-item {
		margin: 20px;
		display: inline-block;
		width: 200px;
		position: relative;
		user-select: none;

		.img {
			width: 200px;
		}

		.img_btns {
			position: absolute;
			right: 5px;
			bottom: 5px;
			z-index: 2;
		}
	}
}

.add-new-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 30px;
	gap: 20px;

	.file-input {
	}
}

.upcoming_container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	border-radius: 10;
	border: 2px solid #f1f1f1;
	margin: 20px;
	border-radius: 10px;

	.upcoming_item {
		&:not(:last-child) {
			border-bottom: 1px solid #f1f1f1;
		}

		.info {
			padding: 10px 30px;
		}

		.button {
			border-left: 1px solid #f1f1f1;
			padding: 0 30px;
		}

		display: flex;
		justify-content: space-between;
		gap: 30px;
	}
}
