.fade-in {
	animation: fadeIn 0.5s ease-in;
	animation-fill-mode: forwards;
}

.fade-out {
	animation: fadeOut 0.5s ease-out;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes middleToRight {
	from {
		right: 50%;
		transform: translateX(50%);
	}
	to {
		right: 0%;
	}
}

@keyframes middleToLeft {
	from {
		left: 50%;
		transform: translateX(-50%);
	}
	to {
		left: 0%;
	}
}

@keyframes sweepIn {
	from {
		opacity: 0;
		width: 0;
	}
	to {
		opacity: 1;
		width: 100%;
	}
}

@keyframes sweepOut {
	from {
		opacity: 1;
		width: 100%;
		display: flex;
	}
	to {
		opacity: 0;
		width: 0%;
		display: flex;
	}
}

@keyframes sweepOut2 {
	from {
		opacity: 1;
		width: 100%;
		display: block;
	}
	to {
		opacity: 0;
		width: 0%;
		display: block;
	}
}

@keyframes animation-loading {
	0% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
	80% {
		transform: scale(0);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes fadeInRight1 {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}
	30% {
		opacity: 0;
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInRight2 {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}
	50% {
		opacity: 0;
		transform: translateX(-30px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes scrollOpen {
	from {
		height: 0px;
		overflow: hidden;
	}
	to {
		height: fit-content;
		max-height: fit-content;
		overflow: hidden;
	}
}
@keyframes scrollClose {
	from {
		height: fit-content;
		display: block;
	}
	to {
		height: 0;
		display: block;
	}
}
