$green: rgb(0, 183, 0);
$red: rgb(255, 0, 0);
$blue: rgb(0, 85, 255);
$gray: rgb(203, 203, 203);

.input {
	padding: 10px 15px 10px 10px;
	font-size: 1.1rem;
	border-radius: 15px;
	border: 1px solid #e5e5e5;

	&:focus-visible {
		outline: 1px solid darken($color: #e5e5e5, $amount: 15);
		border: 1px solid darken($color: #e5e5e5, $amount: 10);
	}

	&.stretch {
		width: 100%;
	}
}

.button {
	padding: 10px 30px;
	font-size: 1.1rem;
	border-radius: 10px;
	font-size: initial;
	cursor: pointer;
	transition: background-color 0.4s linear;

	&.red {
		background-color: $red;
		border: 1px solid darken($color: $red, $amount: 10);
		color: white;
		&.outline {
			background-color: transparent;
			border: 2px solid $red;
			color: black;
			&:hover {
				border: 2px solid $red;
			}
		}
	}
	&.green {
		background-color: $green;
		border: 1px solid darken($color: $green, $amount: 10);
		color: white;
		&.outline {
			background-color: transparent;
			border: 2px solid $green;
			color: black;
			&:hover {
				border: 2px solid $green;
			}
		}
	}
	&.blue {
		background-color: $blue;
		border: 1px solid darken($color: $blue, $amount: 10);
		color: white;
		&.outline {
			background-color: transparent;
			border: 2px solid $blue;
			color: black;
			&:hover {
				border: 2px solid $blue;
			}
		}
	}
	&.gray {
		background-color: $gray;
		border: 1px solid darken($color: $gray, $amount: 20);
		color: black;
		&.outline {
			background-color: transparent;
			border: 2px solid $gray;
			color: black;
			&:hover {
				border: 2px solid $gray;
			}
		}
	}

	&.stretch {
		width: 100%;
		padding: 10px;
		border-radius: 20px;
	}

	&:hover {
		outline: none;

		&.red {
			background-color: darken($color: $red, $amount: 5);
			border: 1px solid darken($color: $red, $amount: 15);
			color: white;
		}
		&.green {
			background-color: darken($color: $green, $amount: 5);
			border: 1px solid darken($color: $green, $amount: 15);
			color: white;
		}
		&.blue {
			background-color: darken($color: $blue, $amount: 5);
			border: 1px solid darken($color: $blue, $amount: 15);
			color: white;
		}
		&.gray {
			background-color: darken($color: $gray, $amount: 5);
			border: 1px solid darken($color: $gray, $amount: 15);
			color: black;
		}
	}
}

.center {
	width: fit-content;
	margin: auto;
}

.link {
	text-decoration: none;
	color: initial;
	cursor: pointer;
}

.title-2 {
	text-transform: capitalize;
	font-weight: 400;
	font-size: 24px;
	line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333333;
	font-weight: 700;
	margin: 0;
	line-height: 1.2;
}

.file {
	width: fit-content;
	background-color: $gray;
	border-radius: 3px;
	padding: 5px 0 5px 5px;
}

.file::file-selector-button {
	border: 2px solid gray;
	padding: 4px 8px;
	border-radius: 0.2em;
	background-color: white;
	transition: 1s;
}

.file::file-selector-button:hover {
	border: 2px solid #6c5ce7;
	padding: 0.2em 0.4em;
	border-radius: 0.2em;
	background-color: #a29bfe;
	transition: 1s;
}
