@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

.center-section.about {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: auto;
	margin-top: 105px;
	gap: 25px;
	width: 90%;
	flex: 1;
	max-width: 1400px;

	.text {
		max-width: 90%;
		font-family: "Poppins", sans-serif;
		align-self: flex-start;
		flex: 2;
		.title {
			font-size: 48pt;
			animation: fadeInOpacity 1s ease-in;
			z-index: 2;
			color: rgba(0, 0, 0, 0.657);
			user-select: none;
			font-weight: 600;
			line-height: 55px;
			@media only screen and (max-width: 800px) {
				font-size: 38pt;
			}
		}
		.text-content {
			margin-top: 60px;
			opacity: 0;
			animation: fadeInOpacity 0.5s ease-in;
			animation-fill-mode: forwards;
			animation-delay: 0.5s;
			color: rgba(71, 71, 71, 0.814);
			line-height: 35px;
		}
	}
	.about-animation {
		margin: 0;
		margin-top: 30px;
		padding: 0;
		max-width: 750px;
		pointer-events: none;
		flex: 1;
		align-self: center;
	}

	@media only screen and (max-width: 1000px) {
		flex-direction: column;
		margin-top: 100px;

		.dance-party {
			height: 300px;
		}
	}
}
