.edit-img-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	justify-content: flex-start;
	// width: fit-content;
	// max-width: fit-content;
	// margin: auto;
	padding: 20px;

	.edit-img-item {
		margin: 20px;
		display: inline-block;
		width: 200px;
		position: relative;
		.img {
			width: 200px;
		}
		.delete-img-btn {
			position: absolute;
			right: 5px;
			bottom: 5px;
			z-index: 2;
		}
	}
}

.add-new-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 30px;
	gap: 20px;
	.file-input {
	}
}
