$blue: #07f;

.add_service_modal {
	max-width: 1000px;
	min-width: min(70%, 1000px);
}

.add_service_card {
	// margin: 0;
	width: 100%;

	.add_service_input {
		width: 100%;
		min-width: 200px;

		@media only screen and (max-width: 650px) {
			width: 100% !important;
		}
	}

	.services {
		display: flex;
		overflow-x: auto;
		height: fit-content;
		width: 100%;

		.service_item {
			margin: 20px 10px;
			position: relative;
			height: fit-content;
			cursor: pointer;

			&.selected {
				outline: 2px solid $blue;
				padding: 2px;
			}

			.img {
				height: 200px;
				transition: filter 1s;
			}

			.details {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 1;
				width: 100%;
				height: 200px;
				color: black;
				transition: all 1s;
				text-align: center;
				background-color: rgba(39, 39, 39, 0.137);

				.name {
					font-size: 24px;
					color: black;
				}

				.title {
					font-size: 22px;
					color: black;
				}

				.date {
					font-size: 22px;
					color: black;
				}
			}

			&:hover {
				.details {
					opacity: 1;
					background-color: rgba(39, 39, 39, 0.374);
					.name,
					.title,
					.date {
						color: white;
					}
				}

				.img {
					filter: blur(5px);
				}
			}
		}
	}
}
